body{
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: sans-serif;
    gap: 0.5rem;
    row-gap: 0.5rem;
}


#orderId{
    /* position: absolute; */
    top: 20px;
    right: 20px;
    /* font-size: 24px; */
    color: #131212;
    display: none;
}

.imageCollection{
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    align-items: center;
    flex-direction: row;
}


#foodImage{
    height: 400px;
    width: 400px;
    margin: 5px;
    display: none;
}